
html, body {
  font-family: proxima-nova, sans-serif;
  text-rendering: geometricPrecision;
  padding: 0;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

body {
  display: flex;
  flex-flow: row nowrap;
  max-height: 100vh;
  min-height: 100vh;
}

ng-sidebar {
  flex: 0 0 11em;
  max-height: 100vh;
  min-height: 100vh;
  background: #4B5086;
}

ng-view {
  flex: 1;
  max-height: 100vh;
  min-height: 100vh;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) {

  body {
      flex-flow: column nowrap;
      font-size: 3em;
  }

  ng-sidebar {
    flex: 0 0 4em;
    min-height: 4em;
    max-height: 4em;
  }

  ng-sidebar *{
    display: none;
  }

  ng-view {
    max-height: calc(100vh - 4em);
    min-height: calc(100vh - 4em);
  }

}
