
.aboutHeader {
  padding: 2em 3em;
  background: #FBFBFB;
  border-bottom: 1px solid #EEE;
}

.aboutHeader h3 {
  text-align: center;
  letter-spacing: 0.1em;
  margin: 0 0 1em;
  font-weight: normal;
}

.aboutHeader p {
  text-align: justify;
  -webkit-column-count: 2;
  -webkit-column-gap: 2em;
  margin: 0;
  line-height: 2em;
  font-weight: lighter;
  font-size: 0.9em;
}

.aboutBody h3 {
  text-align: center;
  letter-spacing: 0.1em;
  margin: 1.5em 0 1em 0;
  font-weight: normal;
}

.aboutCards {
  display: flex;
  flex-flow: row wrap;
  padding: 0 2em;
}

.aboutCard {
  display: flex;
  flex-flow: column;
  flex: 1 0 10em;
  margin: 0.5em;
  border-radius: 0.5em;
  border: 1px solid #eee;
}

.aboutCardTop {
  border-radius: 0.5em 0.5em 0 0;
  flex: 12em;
  background-size: contain;
}

.aboutCardBottom {
  padding: 1em;
  text-align: center;
  flex: 1;
}

.aboutCardName {
  font-size: 1.2em;
}

.aboutCardRole {
  font-weight: lighter;
  color: #777;
}

.aboutCardLinks {
  margin-top: 0.3em;
  font-size: 1.3em;
  letter-spacing: 0.4em;
}

.aboutCardLinks a {
  color: #4B5086;
}

@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) {

  .aboutHeader p {
    -webkit-column-count: auto;
    -webkit-column-gap: 2em;
  }

}
