ui-sidebar {
  background: #4B5086;
  color: #FFF;

  flex: 0 0 4rem;
  @include breakpoint(phablet) {
    flex: 0 0 11rem;
  }

  .logo {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.3rem;
    font-size: 0.9rem;
    text-align: center;
    outline: none;

    padding: 1.5rem 0;
    @include breakpoint(phablet) {
      padding: 2rem 0;
    }
  }

  .list-item {
    text-decoration: none;
    color: #CCC;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 2px;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
    transition: all 100ms ease;

    &.active, &:hover, &:focus {
      outline: none;
      color: #FFF;
      background: rgba(0,0,0,0.1);
    }

    &.active {
      background: rgba(0,0,0,0.25);
      border-left: 3px solid #E48263;
    }
  }

  .copy {
    letter-spacing: 1px;
    text-align: center;
    color: #CCC;
    font-size: 0.6rem;
    padding: 0.8rem 0;
    text-transform: uppercase;
  }

  .list-item, .copy {
    display: none;
    @include breakpoint(phablet) {
      display: block;
    }
  }
}
