
ng-sidebar > div {
  color: #D8D8D8;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  white-space: nowrap;
}

.sidebarHeader {
  text-decoration: none;
  letter-spacing: 3px;
  color: #fff;
  font-size: 1em;
  padding: 2em;
  font-weight: bold;
}

.sidebarLink {
  color: #D8D8D8;
  font-size: 0.8em;
  text-decoration: none;
  padding: 1.3em;
  transition: all 250ms ease;
}

.sidebarLink:hover {
  color: #fff;
  transition: all 250ms ease;
  background: rgba(57, 60, 101, 0.5);
}

.sidebarLink.active {
  color: #fff;
  transition: all 250ms ease;
  background: #393c65;
  border-left: 3px solid #E48263;
}

.sidebarSpacer {
  flex: 1;
}

.sidebarFooter {
  font-size: 0.6em;
  padding: 1.5em;
}

@media (max-width: 720px) {

  .sidebarHeader {
    padding: 1em;
  }

}
