.adminV {

  .header {
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    padding: 0.5rem 1rem;
    font-weight: 300;
    margin: 1rem;
    color: #333;
    margin-bottom: 0;

    .heading {
      border: 0;
      width: 100%;
      font-weight: 400;
      outline: none;
    }

    .create {
      text-decoration: none;
      color: #333;
    }
  }

  .list {
    overflow: scroll;
    margin: 0 1rem;

    max-height: calc(100vh - 7.5rem);
    @include breakpoint(phablet) {
      max-height: calc(100vh - 3.5rem);
    }

    .placeholder {
      padding: 2rem;
      font-weight: 100;
      color: #666;
    }

    .list-item {
      margin: 0 0.5rem;
      padding: 0.5rem 1rem;
      text-decoration: none;
      color: #333;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      transition: background 250ms ease;

      .img {
        position: relative;
        border: 1px solid #4B5086;
        min-height: 4rem;
        max-height: 4rem;
        min-width: 4rem;
        max-width: 4rem;
        border-radius: 100%;
        background-position: center;
        background-size: cover;

        .position {
          position: absolute;
          background: rgba(255,255,255,0.8);
          border: 1px solid #4B5086;
          border-radius: 100%;
          min-width: 1.2rem;
          max-width: 1.2rem;
          max-height: 1.2rem;
          min-height: 1.2rem;
          bottom: 0;
          right: 0;
          font-weight: 100;
          font-size: 0.9rem;
          color: #4B5086;
        }
      }

      .name {
        margin-left: 1rem;
        font-size: 1.3rem;
        font-weight: 300;
        color: #333;
        transition: all 250ms ease;
      }

      &:hover {
        background: #F5F5F5;

        .name {
          color: black;
        }
      }
    }
  }

}
