<div class="f1 adminV row jcc">
  <div class="f1 contained col">
    <div class="header row">
      <span class="heading">All Users</span>
      <a class="create" href="#/admin/create">+</a>
    </div>
    <div class="list f1">
      <a href="#/admin/{{user.id}}" ng-repeat="user in adminC.users track by $index" class="list-item row aic">
        <div class="img col aic jcc"><img ng-src="{{user.info.image}}"></div>
        <span class="name">{{user.displayName}}</span>
      </a>
    </div>
  </div>
</div>
