<link rel="stylesheet" href="app/list/listStyles.css">
<div ng-controller="listController as list">
  <div class="listHeader">
    <h1>Intelligent Social Metrics</h1>
    <p>Populr.io takes data from top social networks and news sites to rank the movers and shakers of the internet. Updated periodically, Populr.io provides the latest on your favorite celebrities, athletes, and public figures.</p>
  </div>
  <div class="listBody">
    <div ng-repeat="(letter, people) in list.top" class="listContainer">
      <div class="innerListHeader">
        <h4>{{letter | listify}}</h4>
      </div>
      <div ng-repeat="person in people" class="listItem">
        {{person.fullName}}
      </div>
    </div>
  </div>
</div>
