
.listHeader {
  padding: 2em 3em;
  background: #FBFBFB;
  border-bottom: 1px solid #EEE;
}

.listHeader h1 {
  margin: 5px 0;
  font-weight: lighter;
}

.listHeader p {
  margin: 0;
  line-height: 30px;
  font-weight: lighter;
  font-size: 0.9em;
}

@media (max-width: 750px) {
  .listHeader {
    display: none;
  }
}

.listContainer {
  padding: 1em 3em;
}

.innerListHeader {
  border-bottom: 1px solid #EEE;
}

.innerListHeader h4{
  margin: 0;
  font-weight: normal;
  letter-spacing: 2px;
}
