
body {
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  user-select: none;
  cursor: default;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.f1 {
  flex: 1 0 auto;
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}

ui-view {

}

.contained {
  max-width: 50rem;
}