<div class="f1 userEditV">
  <div class="jumbotron row jcc">
    <div class="contained f1 row aic">
      <div class="img" style="background-image: url({{userEditC.user.info.image}})"></div>
      <div class="meta col">
        <span class="name">{{userEditC.user.displayName}}</span>
        <span class="occupation">{{userEditC.user.info.occupation}}</span>
      </div>
      <div class="actions row">
        <button ng-click="userEditC.save()">Save</button>
        <button class="delete" ng-click="userEditC.destroy()">Delete</button>
      </div>
    </div>
  </div>
  <div class="row jcc">
    <div class="form contained f1 col">
      <label>Display Name</label>
      <input ng-model="userEditC.user.displayName" type="text">
      <label>Avatar</label>
      <input ng-model="userEditC.user.info.image" type="text">
      <label>Occupation</label>
      <input ng-model="userEditC.user.info.occupation" type="text">
      <label>Twitter Handle</label>
      <input ng-model="userEditC.user.twitter.handle" type="text">
      <label>Wikipedia Link</label>
      <input ng-model="userEditC.user.info.wikiUrl" type="text">
      <label>News Query</label>
      <input ng-model="userEditC.user.news.queries" type="text">
      <label>Bio</label>
      <textarea ng-model="userEditC.user.info.bio"></textarea>
    </div>
  </div>
</div>
